<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /iris/api/

    # فایل‌ها و دایرکتوری‌های واقعی رو دست نزن
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # همه چیز رو به index.php بفرست
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
</IfModule>

<FilesMatch "\.(env|json|lock|md|sql|log|txt)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
